<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/context/spring-tx.xsd
	http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd
	">
	<context:component-scan base-package="com.xiaoxiang.demo"/>
    <bean id="student" class="com.xiaoxiang.demo.bean.Student">
        <property name="password" value="123"/>
		<property name="date">
			<value>2013-03-15</value>
		</property>
    </bean>
	<aop:aspectj-autoproxy />
	<bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
		<!--<property name="customEditors">
			<map>
				<entry key="java.util.Date" value="com.xiaoxiang.demo.bean.DatePropertyEditor"/>
			</map>
		</property>-->
		<property name="propertyEditorRegistrars">
			<list>
				<bean class="com.xiaoxiang.demo.bean.DateCuntomEditorRegistrar"></bean>
			</list>
		</property>
	</bean>
<!--
	<bean id="testListener" class="com.xiaoxiang.demo.event.TestListener"></bean>

-->

</beans>